h1, h2, h2#form-heading, h3, h4 {
    font-weight: bold;    
}

h1 {
    font-size: 2.5rem;   
}

h2, h2#form-heading {
    font-size: 1.8rem;  
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1.1rem;
}

hr {
    border-top: 1px solid rgba(0,0,0,.75);
}

aside {
    background-color: #fff;
    padding-top: 0.75rem;
}

#interface {
    max-width: 290px;
    padding-bottom: 6rem;
}

#input-group-search {
    flex-wrap: wrap;
}

#search-form {
    width: 100%;
}

#btn-search,
.weather-hr {
    flex-basis: 100%;
}

#search-input {
    width: 100%;
}

.weather-header {
    background: rgb(1,141,208);
    background: linear-gradient(90deg, rgba(1,141,208,1) 0%, rgba(0,12,110,1) 100%);
}

#status,
#city-data {
    background-color: #fff;
}

#status {
    display: none;
}

.show-status #status {
    display: block;
}

.show-status #city-data {
    display: none;
}

#forecast dl {
    font-size: 0.9rem;
}

#today h2,
#today dt,
.btn-history,
.long-forecast-entry dt {
    text-transform: capitalize;
}

#today dd, #forecast dd {
    display: inline;
    margin: 0;
}

#today dl dd:after,
#forecast dl dd:after {
    display: block;
    content: '';
    margin-bottom: 1rem;
}
 
#today dl dt,
#forecast dl dt {
    display: inline-block;
}

.long-forecast-entry {
    background-color: #33485d;
    color: #fff;
}

.conditions-icon {
    width: 50px;
    margin-top: -1rem;
}

footer {
    background-color: rgb(34, 41, 92); 
    color: rgb(81, 169, 209);
    height: 6rem;
    text-align: center;
    font-size: 0.8rem; 
    font-weight: normal;
}

footer a {
    color: #fff;
}

@media screen and (min-width:576px) {

    #interface {
        /* max-width for ultra wide resolutions */
        max-width: 1400px;
    }
}